.o_control_panel {
    border-bottom: var(--ControlPanel-border-bottom, 1px solid #dee2e6);
    background-color: white;
}

.o_control_panel .btn-group .btn {
  border-radius: 0.25rem;
}

.o_control_panel input {
  max-width: 300px;
}
