body {
  font-family: Arial, sans-serif;
  margin: 50px;
  padding-top: 56px;
  background-color: #f4f4f4;
  
}

.country-list,
.country-detail {
  padding: 20px;
  text-align: center;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  text-align: left;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #007BFF;
  color: white;
}

a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}

img {
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  color: #007bff;
  text-decoration: none;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px; /* Ensure equal height for flags */
}

/* Ensuring flags have the same size */
.flag-size {
  width: 200px; /* Set to desired width */
  height: 130px; /* Set to desired height */
  object-fit: contain; /* Ensure flags fit within the box, maintaining aspect ratio */
}

.o_control_panel {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  border-bottom: var(--ControlPanel-border-bottom, 1px solid #d8dadd);
  background-color: white;
}

.o_control_panel_breadcrumb {
  min-width: 200px;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.min-w-0 {
  min-width: 0 !important;
}

.o_control_panel .btn-group .btn {
  border-radius: 0.25rem;
}

.o_control_panel input {
  max-width: 300px;
}

/* Sidebar Styling */
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
  transition: width 0.3s ease-in-out;
  color: #fff;
}

.sidebar:hover {
  width: 280px; 
}

h4 {
  font-size: 1.5rem;
}

.category-link {
  text-decoration: none; 
  transition: all 0.3s ease; 
}

.category-link:hover {
  background-color: #444; 
  color: #f1c40f; 
}

.category-link .mr-3 {
  font-size: 1.5rem; 
}

.category-link:hover .mr-3 {
  color: #f1c40f;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%; 
    position: relative;
  }
}



